.table-wrapper {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.data-table {
  width: 100%;
  min-width: 767px;
  border-collapse: collapse;
}
.data-table thead {
  border-bottom: 1px solid #eee;
}
.data-table tr:nth-of-type(even) {
  background: #eee;
}
.data-table td, .data-table th {
  padding: 8px 10px;
  text-align: left;
}
.data-table .column-sort {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.data-table .column-sort img {
  max-width: 12px;
}
.data-table .field-id {
  width: 1em;
}
.data-table .field-avatar {
  width: 1em;
}
.data-table .field-avatar img {
  max-width: 64px;
  border-radius: 5px;
}
.data-table .field-actions button {
  width: 80px;
  height: 40px;
  border-radius: 5px;
  font-weight: 600;
  color: #fff;
  margin-left: 5px;
  margin-right: 5px;
}
.data-table .field-actions__update {
  background-color: var(--secondary-color);
}
.data-table .field-actions__delete {
  background-color: var(--danger-color);
}
.data-table .no-record-message {
  font-weight: 600;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .data-table .no-record-message {
    text-align: left;
 }
}
